.mainContainer
  width: 100%

.pricesSection
  display: flex
  justify-content: center
  margin: 1em  

.pricingForSection  
  display: flex
  justify-content: center
  align-items: center
  font-size: x-large
  margin: 1em

  @media screen and (max-width: 767px)
    flex-direction: column
  
  
